body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    background: linear-gradient(to top right,#034C8C, #85D3F2, #35D0F2);
}

header{
    height: 200px;
    text-align: center;
    display: flex;
    justify-content: left;
}

h1{
    margin: 0px;
    line-height: 180px;
    padding-left: 25px;
    font-size: 45px;
}

.Avenida{
    display: block;
    padding-left: 5px;
    clear: both;
}

h2{
    text-align: center;
}

.container{
    max-width: 450px;
    border: 2px solid black;
    text-align: center;
    clear: both;
}