body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    background: linear-gradient(to top right,#034C8C, #85D3F2, #35D0F2);
    background-attachment: fixed;
}

header{
    height: 200px;
    text-align: center;
    display: flex;
    justify-content: left;
}

h1{
    margin: 0px;
    line-height: 180px;
    padding-left: 25px;
    font-size: 45px;
}

h2{
    text-align: center;
    display: block;
}

.Avenida{
    padding-left: 10px;
    display: inline-block;
    align-items: center;
}

p{
    display: inline-block;
    width: 180px;
    padding-left: 10px;
    align-items: center;
}